{{template "header" .}}
<h1 class="pt-4 pb-4 text-3xl found-bold text-gray-900">FAQ Page</h1>
<ul>
    {{range .}}
        {{template "qa" .}}
    {{end}}
</ul>
{{template "footer" .}}
{{define "qa"}}
<li><b>{{.Question}}</b> {{.Answer}}</li>
{{end}}